---
title: Releases per repository, per month
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for each repository.

*Published on {{ now }} in {{ duration }}*

<table class='dataframe'>
    <thead>
        <tr>
            <th align='left' rowspan='2'></th>
            {% for month in months -%}
            <th align='right' colspan='2'>{{ month  }}</th>
            {% endfor -%}
        </tr>
        <tr>
            {% for month in months -%}
            <th title="Total for {{ m }}">T</th>
            <th title="Average per weekday for {{ m }}">A</th>
            {% endfor -%}
        </tr>
    </thead>
    <tbody>
    {% for repo, item in by_repo.items() -%}
        <tr>
            <th align='left' valign="top">
                <a href='https://github.com/{{ repo }}'>{{ repo | replace("ministryofjustice/", "") }}</a>
            </th>
            {% for m in months -%}
            <td align='right' title="Total for {{ m }}">{{ item.get(m).get('total_success', 0)  }}</td>
            <td align='right' title="Average per weekday for {{ m }}">{{ "%0.1f" | format(item.get(m).get('average_success', 0.0)  ) }}</td>
            {% endfor -%}
        </tr>

    {% endfor -%}
        <tr>
            <th align='left' >OVERALL</th>
            {% for m in months -%}
            <td align='right' title="Total for {{ m }}" >{{ totals.get(m).get('total_success', 0)  }}</td>
            <td align='right' title="Average per day for {{ m }}">{{ "%0.1f" | format(totals.get(m).get('average_success', 0.0)) }}</td>
            {% endfor -%}
        </tr>
    </tbody>
</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
