---
title: Releases per team, per month
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for each github team.

*Published on {{ now }} in {{ duration }}*

<table class='dataframe'>
    <thead>
        <tr>
            <th align='left' colspan='2'>Team</th>
            {% for month in months -%}
            <td align='right'>{{ month  }}</td>
            {% endfor -%}
        </tr>
    </thead>
    <tbody>
    {% for team, item in by_team.items() -%}
        <tr class="totals">
            <th align='left' rowspan="2" valign="top">{{ team }}</th>
            <td>total:</td>
            {% for m in months -%}
            <td align='right' title="Total for {{ m }}">{{ item.get(m).get('total_success', 0)  }}</td>
            {% endfor -%}
        </tr>
        <tr class="averages">
            <td>average:</td>
            {% for m in months -%}
            <td align='right' title="Average per day for {{ m }}">{{ item.get(m).get('average_success', 0) | round(2) }}</td>
            {% endfor -%}
        </tr>
    {% endfor -%}
    </tr>
    </tbody>
</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
