---
title: Releases per team, per month
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for each github team.

*Published on {{ now }} in {{ duration }}*

<table class='dataframe'>
    <thead>
        <tr>
            <th align='left' rowspan='2'></th>
            {% for month in months -%}
            <th align='right' colspan='2'>{{ month  }}</th>
            {% endfor -%}
        </tr>
        <tr>
            {% for month in months -%}
            <th>T</th>
            <th>A</th>
            {% endfor -%}
        </tr>
    </thead>
    <tbody>
    {% for team, item in by_team.items() -%}
        <tr>
            <th align='left'>{{ team }}</th>
            {% for m in months -%}
            <td align='right' title="Total for {{ m }}">{{ item.get(m).get('total_success', 0)  }}</td>
            <td align='right' title="Average per weekday for {{ m }}">{{ item.get(m).get('average_success', 0) | round(2) }}</td>
            {% endfor -%}
        </tr>
    {% endfor -%}
    </tr>
    </tbody>
</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
