---
title: Uptime per service, per month {{ report_time or '' }}
last_reviewed_on: {{ now }}
review_in: {{ review_in or '3' }} months
---
# <%= current_page.data.title %>


*Published on {{ now }} in {{ duration }}*

{% set by_day_prefix = '/documentation/reports/service-uptime/by_day/' -%}
{% set by_month_prefix = '/documentation/reports/service-uptime/by_month/' -%}

<table class='dataframe'>
    <thead>
        <tr>
            <th style='text-align:left;'>Service</th>
            {% for month in months -%}
            <th style='text-align:right;'><a href='{{ by_day_prefix }}{{ month }}/index.html'>{{ month }}</a></th>
            {% endfor -%}
        </tr>
    </thead>
    <tbody>
    {% for service, items in by_month.items() -%}
        <tr>
            <th style='text-align:left;'>{{ service }}</th>
            {% for m in months -%}
                {% set total, count = items.get(m) -%}
                {% set value = None -%}
                {% if count > 0 -%}
                    {% set value = total / count -%}
                {% endif -%}
            <td style='text-align:right;' title="Uptime % for {{ m }}: ({{ value }})">
                {% if value is not none -%}
                    {{ value | round(4) }} %
                {% else -%}
                    N/A
                {% endif -%}
            </td>
            {% endfor -%}
        </tr>
    {% endfor %}
    </tbody>
</table>

*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*

*Note: The uptime data is an amalgamation of daily AWS health check percentage checks*

{% if previous -%}
### Monthly reports

{% for m in previous -%}
- [{{ m }}]({{ by_month_prefix}}{{m}}/index)
{% endfor -%}

{% endif -%}
