---
title: Repository standards
last_reviewed_on: 2024-05-17
review_in: 2 weeks
---
# <%= current_page.data.title %>

Lists both public and private MoJ GitHub repositories which are and are not fully compliant with [MoJ standards](https://user-guide.operations-engineering.service.justice.gov.uk/documentation/information/mojrepostandards.html) as a baseline and OPG extended requirements.

[Operations Engineering report](https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/home).

*Published on 2024-05-17 in 20 seconds*


### Totals:

- **Passed baseline checks**: 2 / 2
- **Passed extended checks**: 0 / 2

### Key:

- **B**: Baseline compliance, see also [Operations Engineering report](https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/home).
- **E**: Extended compliance - covers additional areas we want to check for in OPG

<table style='width:100%' class='compliance-table' id='dataset'>
    <tr>
        <th colspan='2' style='border:0;'></th>
        <th title='Baseline compliance' style='text-align:center;border:0;'>B</th>
        <th title='Extended compliance' style='text-align:center;border:0;'>E</th>
    </tr>
    <tr>
        <td class="expand " rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong data-toggle='detail-opg-digideps' class="toggler govuk-tag govuk-tag--blue" style='display:block; width:20px; text-align:center; cursor:pointer' title='Show/Hide details'>+</strong>
        </td>
        <th style='width:88%; border:0; border-top:1px solid rgb(177, 180, 182);'>
            <a href='https://github.com/ministryofjustice/opg-digideps' class="toggler govuk-link govuk-task-list__link">opg-digideps</a>
        </th>
        <td rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong class="govuk-tag govuk-tag--green" style='display:block; width:20px; text-align:center;' title='baseline compliance passed'>✓</strong>

        </td>
        <td rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong class="govuk-tag govuk-tag--red" style='display:block; width:20px; text-align:center;' title='extended compliance failed'>X</strong>

        </td>
    </tr>
    <tr class='details'>
        <td style='display:none; border:0;' class='detail-opg-digideps'>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Archived:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Github projects are enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Github pages are in use:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Downloads are enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Wiki is enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>License name:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>MIT License</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Forks:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>3</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Webhooks:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>1</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Open pull requests:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>5</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Last commit date:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>2024-05-16T07:43:35+00:00</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Clone traffic:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>4615</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Is set as private:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>

        </td>
    </td>
    <tr class='details'>
        <td style='display:none;border:0;' class='detail-opg-digideps'>
            <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Default branch is called main</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Issues are enabled</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Rules enforced for admins</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Requires approval</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Has a description</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Has a license</strong>

            <strong class="govuk-tag govuk-tag--red" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Requires code owner approval</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Vulnerability alerts are enabled</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Readme is present</strong>
                <strong class="govuk-tag govuk-tag--red" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Code owners is in .github folder</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Code of conduct is present</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Contributing guide is present</strong>

            <strong class="govuk-tag govuk-tag--yellow" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>License: MIT License</strong>
        </td>
    </tr>
    <tr>
        <td class="expand " rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong data-toggle='detail-opg-lpa' class="toggler govuk-tag govuk-tag--blue" style='display:block; width:20px; text-align:center; cursor:pointer' title='Show/Hide details'>+</strong>
        </td>
        <th style='width:88%; border:0; border-top:1px solid rgb(177, 180, 182);'>
            <a href='https://github.com/ministryofjustice/opg-lpa' class="toggler govuk-link govuk-task-list__link">opg-lpa</a>
        </th>
        <td rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong class="govuk-tag govuk-tag--green" style='display:block; width:20px; text-align:center;' title='baseline compliance passed'>✓</strong>

        </td>
        <td rowspan='3' valign='top' style='border:0; border-top:1px solid rgb(177, 180, 182);'>
            <strong class="govuk-tag govuk-tag--red" style='display:block; width:20px; text-align:center;' title='extended compliance failed'>X</strong>

        </td>
    </tr>
    <tr class='details'>
        <td style='display:none; border:0;' class='detail-opg-lpa'>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Archived:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Github projects are enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Github pages are in use:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Downloads are enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Wiki is enabled:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>License name:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>MIT License</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Forks:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>7</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Webhooks:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>1</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Open pull requests:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>5</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Last commit date:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>2024-05-16T13:26:46+00:00</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Clone traffic:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>5405</strong>
            <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem; background-color:transparent;width:310px;'>Is set as private:</strong>
                <strong class='govuk-tag govuk-tag--grey' style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;background-color:transparent;width:200px;text-align:right'>False</strong>

        </td>
    </td>
    <tr class='details'>
        <td style='display:none;border:0;' class='detail-opg-lpa'>
            <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Default branch is called main</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Issues are enabled</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Rules enforced for admins</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Requires approval</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Has a description</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[B] Has a license</strong>

            <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Requires code owner approval</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Vulnerability alerts are enabled</strong>
                <strong class="govuk-tag govuk-tag--green" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Readme is present</strong>
                <strong class="govuk-tag govuk-tag--red" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Code owners is in .github folder</strong>
                <strong class="govuk-tag govuk-tag--red" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Code of conduct is present</strong>
                <strong class="govuk-tag govuk-tag--red" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>[E] Contributing guide is present</strong>

            <strong class="govuk-tag govuk-tag--yellow" style='margin-bottom:5px; margin-right:5px; font-size:0.7rem;'>License: MIT License</strong>
        </td>
    </tr>


</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*


<script>

[].forEach.call( document.querySelectorAll( ".toggler" ), function ( ele ) {
    ele.addEventListener('click', function(eve){
        var toggleDisplay = eve.target.dataset.toggle;

        [].forEach.call( document.querySelectorAll('.'+toggleDisplay), function(info) {
            if (info.style.display == 'none') {
                info.style.display = 'block'
            } else {
                info.style.display = 'none'
            }
            return false
        })

        return false
    }, false)
} )



</script>
