---
title: Repository standards compliance for opg-lpa
last_reviewed_on: 2024-05-17
review_in: 3 months
---
# <%= current_page.data.title %>

Breakdown of how [opg-lpa](https://github.com/ministryofjustice/opg-lpa) meets compliance standards.

## Baseline ✅

These standards are a mirror from [Operations Engineering](https://user-guide.operations-engineering.service.justice.gov.uk/documentation/information/mojrepostandards.html).

View Operations Engineering [version of this report](https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/public-report/opg-lpa).

<table>
    <thead>
        <tr>
            <th style='text-align:left;'>Criteria</th>
            <th style='text-align:right;'>Passed</th>
        </tr>
    </thead>
    <tbody>
    <tr>
<td style='text-align:left;'>Default branch is called main</td><td style='text-align:right;'>True</td>
</tr>
    <tr>
<td style='text-align:left;'>Issues are enabled</td><td style='text-align:right;'>True</td>
</tr>
    <tr>
<td style='text-align:left;'>Rules enforced for admins</td><td style='text-align:right;'>True</td>
</tr>
    <tr>
<td style='text-align:left;'>Requires approval</td><td style='text-align:right;'>True</td>
</tr>
    <tr>
<td style='text-align:left;'>Has a description</td><td style='text-align:right;'>True</td>
</tr>
    <tr>
<td style='text-align:left;'>Has a license</td><td style='text-align:right;'>True</td>
</tr>
    </tbody>
</table>

## Extended checks ❌

These are further checks the OPG webops team look for.

<table>
    <thead>
        <tr>
            <th style='text-align:left;'>Criteria</th>
            <th style='text-align:right;'>Passed</th>
        </tr>
    </thead>
    <tbody>
    <tr>
            <td style='text-align:left;'>Requires code owner approval</td>
            <td style='text-align:right;'>True</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Vulnerability alerts are enabled</td>
            <td style='text-align:right;'>True</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Readme is present</td>
            <td style='text-align:right;'>True</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Code owners is in .github folder</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Code of conduct is present</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Contributing guide is present</td>
            <td style='text-align:right;'>False</td>
        </tr>
    </tbody>
</table>

## Information

General overview about this repository.

<table>
    <thead>
        <tr>
            <th style='text-align:left;'>Field</th>
            <th style='text-align:right;'>Value</th>
        </tr>
    </thead>
    <tbody>
    <tr>
            <td style='text-align:left;'>Archived</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Github projects are enabled</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Github pages are in use</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Downloads are enabled</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Wiki is enabled</td>
            <td style='text-align:right;'>False</td>
        </tr>
    <tr>
            <td style='text-align:left;'>License name</td>
            <td style='text-align:right;'>MIT License</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Forks</td>
            <td style='text-align:right;'>7</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Webhooks</td>
            <td style='text-align:right;'>1</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Open pull requests</td>
            <td style='text-align:right;'>5</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Last commit date</td>
            <td style='text-align:right;'>2024-05-16T13:26:46+00:00</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Clone traffic</td>
            <td style='text-align:right;'>5405</td>
        </tr>
    <tr>
            <td style='text-align:left;'>Is set as private</td>
            <td style='text-align:right;'>False</td>
        </tr>
    </tbody>
</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
