---
title: Releases per month
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for all OPG owned repositories.

<table class='dataframe'>
    <thead>
        <tr>
            <th align='left'>Month</th>
            <th align='right'>Total</th>
            <th align='right'>Average per day</th>
        </tr>
    </thead>
    <tbody>
    {% for month, item in by_month.items() -%}
        <tr>
            <th align='left'>{{ month }}</th>
            <td align='right'>{{ item.get('total_success', 0 )  }}</td>
            <td align='right'>{{ item.get('average_success', 0.0) | round(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
