---
title: Releases per month
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for all OPG owned repositories.

*Published on {{ now }} in {{ duration }}*

<table class='dataframe'>
    <thead>
        <tr>
            <th style='text-align:left;'>Month</th>
            <th style='text-align:right;padding:10px;'>Total</th>
            <th style='text-align:right;padding:10px;'>Average per day</th>
        </tr>
    </thead>
    <tbody>
    {% for month, values in by_month.items() -%}
        {% set total, avger = values -%}
        <tr>
            <th style='text-align:left;'>{{ month }}</th>
            <td style='text-align:right;padding:10px;'>{{ total }}</td>
            <td style='text-align:right;padding:10px;'>{{ avger | round(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
