---
title: Releases per team, per month {{ report_time or '' }}
last_reviewed_on: {{ now }}
review_in: 3 months
---
# <%= current_page.data.title %>

Releases per month for each github team.

*Published on {{ now }} in {{ duration }}*

### Totals

<table class='dataframe'>
    <thead>
        <tr>
            <th style='text-align:left;'></th>
            {% for month in months -%}
            <th style='text-align:right;padding:10px;'>{{ month  }}</th>
            {% endfor -%}
        </tr>

    </thead>
    <tbody>
    {% for team, item in by_team.items() -%}
        <tr>
            <th style='text-align:left;'>{{ team }}</th>
            {% for m in months -%}
            {% set total, avger = item.get(m) -%}
            <td title="Total for {{ m }}" style='text-align:right;padding:10px;'>{{ total  }}</td>
            {% endfor -%}
        </tr>
    {% endfor -%}
    </tr>
    </tbody>
</table>

### Average per weekday

<table class='dataframe'>
    <thead>
        <tr>
            <th style='text-align:left;' ></th>
            {% for month in months -%}
            <th style='text-align:right;padding:10px;' >{{ month  }}</th>
            {% endfor -%}
        </tr>

    </thead>
    <tbody>
    {% for team, item in by_team.items() -%}
        <tr>
            <th style='text-align:left;'>{{ team }}</th>
            {% for m in months -%}
            {% set total, avger = item.get(m) -%}
            <td title="Average per weekday for {{ m }}" style='text-align:right;padding:10px;'>{{ "%0.1f" | format(avger) }}</td>
            {% endfor -%}
        </tr>
    {% endfor -%}
    </tr>
    </tbody>
</table>


*Created by [opg-dora-metrics](https://github.com/ministryofjustice/opg-dora-metrics)*
